<div class="row animated fadeIn">
    <div class="col-md-7">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Perfil de usuario</h3>
            <p class="text-muted m-b-30 font-13"> Nombre de usuario </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate (ngSubmit)="guardar(f.value)" #f="ngForm" class="form p-t-20">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre de usuario</label>
                            <input type="text" [ngModel]="usuario.nombre" name="nombre" class="form-control" id="exampleInputEmail1" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input [ngModel]="usuario.email" name="email" [disabled]="usuario.google" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            GUARDAR
                            <i class="fa fa-save"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card card-body" aling="center">
            <h4 class="box-title m-b-0">Fotografia del usuario</h4>
            <h6 class="text-muted m-b-30 font-13"> Nombre de usuario </h6>
            <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
            <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
            <input type="file" (change)="seleccionImage($event.target.files[0])">
            <br>
            <button type="button" (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-success waves-effect waves-light m-r-10">
                        ACTUALIZAR FOTO
                        <i class="fa fa-save"></i>
                    </button>
        </div>
    </div>
</div>